<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="template :: htmlHeader">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" fileContent="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="template :: navigation"></div>

<div class="container">
    <h2>Field Details</h2>
    <br>
    <div>
        <div class ="row details-text"><span class=""><b>Code: </b></span><span class="" th:text="${field.getCode()}"></span></div>
        <div class="row details-text"><span><b>Name: </b></span><span th:text="${field.getName()}"></span></div>
        <br>
        <form>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="${'/fields/edit/' + field.getId()}" class="btn btn-primary">Izmijeni</a></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="${'/fields/delete/' + field.getId()}" class="btn btn-danger" onclick="return confirm('Jeste li sigurni?')">Obriši</a></td>
            <td><a th:href="${'/fields/'}" class="btn btn-default">Povratak</a></td>
        </form>
        <br><br>
    </div>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>
