<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="template :: htmlHeader">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="template :: navigation"></div>

<div class="container">
    <h2>Izmjena detalja ustanove</h2>
    <br>
    <div>
        <form class="form-horizontal" th:object="${institution}" th:action="@{/institutions/edit}" method="post">
            <div class="form-group">
                <div class="col-sm-5">
                    <input type="hidden" class="form-control" th:field="*{id}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <input type="hidden" class="form-control" th:field="*{created}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Ime:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:field="*{name}" required/>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-2 control-label">Kod:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:field="*{code}" required/>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-2 control-label">Grad:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:field="*{city}" required/>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-2 control-label">Država:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:field="*{country}" required/>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-2 control-label">Broj studenata:</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" th:field="*{numberOfStudents}" required/>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-2 control-label">Informacije:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:field="*{information}"/>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-2 control-label">Web:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:field="*{webUrl}"/>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="row">
                    <button type="submit" class="btn btn-primary">Spremi</button>
                    <a th:href="${'/institutions/details/' + institution.getId()}" class="btn btn-default">Otkaži</a>
                </div>
            </div>
        </form>
    </div>
    <br>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>
