<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="template :: htmlHeader">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" fileContent="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="template :: navigation"></div>

<div class="col-md-8 col-md-offset-2 fh5co-heading">
    <h2>Tipovi dokumenta</h2>
    <br>
    <form method="get" id="forma" class="text-center">
        <table id="documentTypes" class="table table-striped table-hover">
            <thead>
            <tr>
                <td>Ime</td>
                <td>Opis</td>
                <!--<th>Delete</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="documentType : ${documentTypes}" th:onclick="'javascript:rowClicked(\'/documentTypes/details/' + ${documentType.getId()} + '\');'">
                <td th:text="${documentType.getName()}" class="row-pointer"></td>
                <td th:text="${documentType.getDescription()}" class="row-pointer"></td>
                <!--<td><a th:href="${'/documentTypes/delete/' + documentType.getId()}" class="btn btn-danger">Delete</a></td>-->
            </tr>
            </tbody>
        </table>
    </form>
    <br><br>
    <a sec:authorize="hasRole('ADMIN')" th:href="${'/documentTypes/create/'}" class="btn btn-primary">Kreiraj novo</a>
</div>

<div th:replace="template :: footer"></div>
<div th:replace="template :: scripts"></div>

</body>
</html>
