<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="template :: htmlHeader">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="template :: navigation"></div>

<div class="col-md-8 col-md-offset-2 fh5co-heading">
    <form action="#" th:action="@{/subject}" th:object="${subject}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Description: <input type="text" th:field="*{description}" /></p>
        <p>Ects: <input type="number" th:field="*{ectsValue}" /></p>
        <p>Language: <input type="text" th:field="*{language}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>
