<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="template :: htmlHeader">
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:replace="template :: navigation"></div>

    <!--<p th:text="'Hello, ' + ${name} + '!'" />-->

    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <form method="get" id="forma">
            <table id="fields">
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Ects</td>
                    <td>Language</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="subject : ${subjects}">
                    <td th:text="${subject.getId()}"></td>
                    <td th:text="${subject.getName()}"></td>
                    <td th:text="${subject.getDescription()}"></td>
                    <td th:text="${subject.getEctsValue()}"></td>
                    <td th:text="${subject.getLanguage()}"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div th:replace="template :: footer"></div>
</body>
</html>
