<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="template :: htmlHeader">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" fileContent="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="template :: navigation"></div>
<!--<div th:replace="template :: dropdown-jquery"></div>-->

<div class="col-md-8 col-md-offset-2 fh5co-heading">
    <h2>Kreiranje novog predmeta</h2>
    <br>
    <form class="form-horizontal" action="#" th:action="@{/subjects/create}" th:object="${subject}" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label">Ime:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" th:field="*{name}" required/>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Opis:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" th:field="*{description}" required/>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Ects:</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" th:field="*{ectsValue}" required/>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Jezik:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" th:field="*{language}" required/>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Smjer:</label>
            <div class="col-sm-5">
                <select id="dropdown" class="form-control"  th:field="*{course}" placeholder="Odaberite smjer..." data-search="true" required>
                    <option th:each="course : ${courseList}"
                            th:value="${{course}}"
                            th:text="${course.getInstitution().getCode() + ' - ' + course.getName()}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Godina:</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" th:field="*{year}" required/>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Semestar:</label>
            <div class="col-sm-5">
                <select class="form-control"  th:field="*{semesterType}" required>
                    <option th:each=" semesterType : ${semesterTypes}"
                            th:value="${{semesterType}}"
                            th:text="${semesterType.getName()}">
                    </option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="row">
                <button type="submit" class="btn btn-primary">Spremi</button>
                <a th:href="${'/subjects/'}" class="btn btn-default">Otkaži</a>
            </div>
        </div>
    </form>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>
