<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="template :: htmlHeader">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" fileContent="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="template :: navigation"></div>

<!--TODO promijeniti id na drupdornu s trazilicom u class, includati script tagove i pobrisati kopirane-->

<div class="col-md-8 col-md-offset-2 fh5co-heading">
    <script th:replace="template :: multiselect"></script>

    <script>
        jQuery(document).ready(function($) {
            $('.dropdown-searchable').selectstyle({
                width  : 400,
                theme  : 'light',
                onchange : function(val){}
            });
        });
    </script>

    <h2>Kreiranje novoe mobilnosti</h2>
    <br>
    <form class="form-horizontal" action="#" th:action="@{/mobilities/create}" th:object="${mobility}" method="post">
        <div class="form-group ">
            <label class="col-sm-2 control-label">Student:</label>
            <div class="col-sm-5">
                <select class="form-control dropdown-searchable"  th:field="*{student}" placeholder="Odaberite studenta..." data-search="true" required>
                    <option th:each="student : ${studentList}"
                            th:value="${{student}}"
                            th:text="${student.getJmbag() + ' - ' + student.getName() + ' ' + student.getSurname()}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Institucija:</label>
            <div class="col-sm-5">
                <select class="form-control dropdown-searchable"  th:field="*{institution}" placeholder="Odaberite instituciju..." data-search="true" required>
                    <option th:each="institution : ${institutionList}"
                            th:value="${{institution}}"
                            th:text="${institution.getCode() + ' - ' + institution.getName()}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Status mobilnosti:</label>
            <div class="col-sm-5">
                <select class="form-control dropdown-searchable"  th:field="*{mobilityStatus}" placeholder="Odaberite status mobilnosti..." required>
                    <option th:each="mobilityStatus : ${mobilityStatusList}"
                            th:value="${{mobilityStatus}}"
                            th:text="${mobilityStatus.getName()}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Datum početka:</label>
            <div class="col-sm-5">
                <input type="date" class="form-control" th:field="*{mobilityStart}" />
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Datum završetka:</label>
            <div class="col-sm-5">
                <input type="date" class="form-control" th:field="*{mobilityEnd}" />
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="row">
                <button type="submit" class="btn btn-primary">Spremi</button>
                <a th:href="${'/mobilities/'}" class="btn btn-default">Otkaži</a>
            </div>
        </div>
    </form>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>
