<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="template :: htmlHeader">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" fileContent="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="template :: navigation"></div>

<div class="container">
    <h2>Izmjena mobilnosti</h2>
    <br>
    <div>
        <form class="form-horizontal" th:object="${mobility}" th:action="@{/mobilities/edit}" method="post">
            <div class="form-group">
                <div class="col-sm-5">
                    <input type="hidden" class="form-control" th:field="*{id}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <input type="hidden" class="form-control" th:field="*{created}"/>
                </div>
            </div>

            <div class="row details-text" th:if="${mobility.getStudent() != null}"><span><b>Jmbag studenta: </b></span><span th:text="${mobility.getStudent().getJmbag()}"></span></div>
            <div class="row details-text" th:if="${mobility.getStudent() != null}"><span><b>Student: </b></span><span th:text="${mobility.getStudent().getName() + ' ' + mobility.getStudent().getSurname()}"></span></div>
            <br>
            <div class="form-group ">
                <label class="col-sm-2 control-label">Status mobilnosti:</label>
                <div class="col-sm-5">
                    <select id="dropdown" class="form-control"  th:field="*{mobilityStatus}" placeholder="Odaberite instituciju..." data-search="true"  required>
                        <option th:each="mobilityStatus : ${mobilityStatusList}"
                                th:value="${{mobilityStatus}}"
                                th:text="${mobilityStatus.getName()}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-2 control-label">Status mobilnosti:</label>
                <div class="col-sm-5">
                    <select class="form-control dropdown-searchable"  th:field="*{mobilityStatus}" placeholder="Odaberite status mobilnosti..." required>
                        <option th:each="mobilityStatus : ${mobilityStatusList}"
                                th:value="${{mobilityStatus}}"
                                th:text="${mobilityStatus.getName()}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-2 control-label">Početak mobilnosti:</label>
                <div class="col-sm-5">
                    <input type="date" class="form-control" th:field="*{mobilityStart}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Kraj mobilnosti:</label>
                <div class="col-sm-5">
                    <input type="date" class="form-control" th:field="*{mobilityEnd}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Broj bodova:</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" th:field="*{points}" required/>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="row">
                    <button type="submit" class="btn btn-primary">Spremi</button>
                    <a th:href="${'/mobilities/details/' + mobility.getId()}" class="btn btn-default">Otkaži</a>
                </div>
            </div>
        </form>
    </div>
    <br>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>
