<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="template :: htmlHeader">
    <title>Institucije</title>
    <meta http-equiv="Content-Type" fileContent="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="template :: navigation"></div>

<div class="col-md-8 col-md-offset-2 fh5co-heading">
    <h2>Institucije</h2>
    <br>
    <form method="get" id="forma" class="text-center">
        <table id="subjects" class="table table-striped table-hover">
            <thead>
            <tr>
                <td>Obavijest</td>
                <td>Kreirano</td>
            </tr>
            </thead>
            <tbody>
            <tr th:classappend="${n.getSeen() == null}? 'danger'" th:each="n : ${notificationList}" th:onclick="'javascript:rowClicked(\'/notifications/details/' + ${n.getId()} + '\');'">
                <td th:text="${n.getMessage()}" class="row-pointer"></td>
                <td th:text="${#temporals.format(n.getCreated(), 'dd.MM.yyyy. HH:mm:ss')}" class="row-pointer"></td>
            </tr>
            </tbody>
        </table>
    </form>
    <br><br>
</div>

<div th:replace="template :: footer"></div>
<div th:replace="template :: scripts"></div>

</body>
</html>
