<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:fragment="htmlHeader">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" fileContent="IE=edge">
	<title>TVZ Erasmus</title>
	<meta name="viewport" fileContent="width=device-width, initial-scale=1">
	<meta name="description" fileContent="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" fileContent="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" fileContent="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" fileContent=""/>
	<meta property="og:image" fileContent=""/>
	<meta property="og:url" fileContent=""/>
	<meta property="og:site_name" fileContent=""/>
	<meta property="og:description" fileContent=""/>
	<meta name="twitter:title" fileContent="" />
	<meta name="twitter:image" fileContent="" />
	<meta name="twitter:url" fileContent="" />
	<meta name="twitter:card" fileContent="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">	 -->
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" th:href="@{/css/animate.css}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" th:href="@{/css/icomoon.css}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">

	<!-- Flexslider  -->
	<link rel="stylesheet" th:href="@{/css/flexslider.css}">

	<!-- Theme style  -->
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<!-- Bootstrap min  -->
	<link rel="stylesheet" th:href="@{https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css}">

    <!-- Theme style  -->
    <link rel="stylesheet" th:href="@{/css/bootstrap-multiselect.css}">

    <link rel="stylesheet" th:href="@{/css/selectstyle.css}">

	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css}">

		<!-- Modernizr JS -->
	<script th:src="@{/js/modernizr-2.6.2.min.js}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
        <script th:src="@{/js/respond.min.js}"></script>
	<![endif]-->

	<script type="application/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="application/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/bootstrap-multiselect.js}"></script>
    <script type="application/javascript" th:src="@{/js/selectstyle.js}"></script>
	<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js}"></script>

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation" th:fragment="navigation">
		<div class="top-menu">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a th:href="${'/'}"><img th:src="${'/images/logo.jpg'}"></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class=""><a th:href="${'/'}">Home</a></li>
							<li sec:authorize="hasRole('ADMIN') or hasRole('COORDINATOR')" class="has-dropdown">
								<a th:href="${'/mobilities/'}">Mobilnosti</a>
								<ul class="dropdown">
                                    <li><a th:href="${'/approvals/'}">Odobrenja</a></li>
                                    <li><a th:href="${'/mobilityStatus/'}">Statusi mobilnosti</a></li>
                                    <li><a th:href="${'/approvalTypes/'}">Tipovi odobrenja</a></li>
								</ul>
							</li>
                            <li class="has-dropdown">
                                <a th:href="${'/institutions/'}">Institucije</a>
                                <ul sec:authorize="hasRole('ADMIN') or hasRole('COORDINATOR') or hasRole('SUBJECT_COORDINATOR')" class="dropdown">
                                    <li><a th:href="${'/fields/'}">Polja</a></li>
                                    <li><a th:href="${'/courses/'}">Smjerovi</a></li>
                                    <li><a th:href="${'/subjects/'}">Predmeti</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasRole('ADMIN') or hasRole('COORDINATOR') or hasRole('SUBJECT_COORDINATOR') or hasRole('ERASMUS_STUDENT')" class="has-dropdown">
                                <a th:href="${'/documents/'}">Dokumenti</a>
                                <ul sec:authorize="hasRole('ADMIN') or hasRole('COORDINATOR') or hasRole('SUBJECT_COORDINATOR')" class="dropdown">
                                    <li><a th:href="${'/documentTypes/'}">Tipovi dokumenata</a></li>
                                </ul>
                            </li>
							<li><a sec:authorize="hasRole('ERASMUS_STUDENT') or hasRole('COORDINATOR') or hasRole('SUBJECT_COORDINATOR')" th:href="${'/notifications/'}">Obavijesti</a></li>
							<li><a sec:authorize="hasRole('ADMIN') or hasRole('COORDINATOR') or hasRole('SUBJECT_COORDINATOR')" th:href="${'/appUsers/'}">Korisnici</a></li>
                            <!--<li><a href="about.html">About</a></li>-->
							<!--<li class="btn-cta"><a th:href="${'/logout/'}"><span>Logout</span></a></li>-->
							<li class="btn-cta"><span>
							<li class="btn-cta">
								<form id="logout_form" th:action="@{/logout}" method="post">
									<input class="btn btn-primary" type="submit" value="Log out"/>
								</form>
							</li>
							</span></li>


						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

		<table th:if="${notifications != null && notifications.size() > 0} " id="notifications" class="table table-striped table-hover">
			<thead>
			<tr>
				<td>Notifikacije</td>
			</tr>
			</thead>
			<tbody>
			<tr th:each="n : ${notifications}" th:onclick="'javascript:rowClicked(\'/notifications/details/' + ${n.getId()} + '\');'">
				<td th:text="${n.getMessage()}" class="row-pointer"></td>
			</tr>
			</tbody>
		</table>

		<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(/images/img_bg_1.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container-fluid">
		   			<div class="row">
			   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text slider-text-bg">
			   				<div class="slider-text-inner">
			   					<h1>Not Every Project Needs To Be Perfect</h1>
									<h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
									<p class="ct"><a href="#">Learn More <i class="icon-arrow-right"></i></a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(images/img_bg_2.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container-fluid">
		   			<div class="row">
			   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text slider-text-bg">
			   				<div class="slider-text-inner">
			   					<h1>Minimal &amp; Clean Blog WordPress Theme For People Who Tell Stories</h1>
									<h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
									<p class="ct"><a href="#">Learn More <i class="icon-arrow-right"></i></a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(images/img_bg_3.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container-fluids">
		   			<div class="row">
			   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text slider-text-bg">
			   				<div class="slider-text-inner">
			   					<h1>What Would You Like To Learn?</h1>
									<h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
									<p class="ct"><a href="#">Learn More <i class="icon-arrow-right"></i></a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>		   	
		  	</ul>
	  	</div>
	</aside>

            <div id="fh5co-about">
                <div class="container">
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                            <h2>Our Co-League</h2>
                            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="member">
                            <div class="col-md-6 nopadding animate-box">
                                <div class="author" style="background-image: url(images/user-1.jpg);"></div>
                            </div>
                            <div class="col-md-6 nopadding animate-box">
                                <div class="desc">
                                    <h3>John Doe</h3>
                                    <span>CEO, Founder</span>
                                    <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                                    <p>
                                        <ul class="fh5co-social-icons">
                                            <li><a href="#"><i class="icon-twitter-with-circle"></i></a></li>
                                            <li><a href="#"><i class="icon-facebook-with-circle"></i></a></li>
                                            <li><a href="#"><i class="icon-linkedin-with-circle"></i></a></li>
                                            <li><a href="#"><i class="icon-dribbble-with-circle"></i></a></li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="col-md-6 nopadding col-md-push-6 animate-box">
                                <div class="author" style="background-image: url(images/user-2.jpg);"></div>
                            </div>
                            <div class="col-md-6 nopadding col-md-pull-6 animate-box">
                                <div class="desc">
                                    <h3>John Doe</h3>
                                    <span>CEO, Founder</span>
                                    <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                                    <p>
                                        <ul class="fh5co-social-icons">
                                            <li><a href="#"><i class="icon-twitter-with-circle"></i></a></li>
                                            <li><a href="#"><i class="icon-facebook-with-circle"></i></a></li>
                                            <li><a href="#"><i class="icon-linkedin-with-circle"></i></a></li>
                                            <li><a href="#"><i class="icon-dribbble-with-circle"></i></a></li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="col-md-6 nopadding animate-box">
                                <div class="author" style="background-image: url(images/user-3.jpg);"></div>
                            </div>
                            <div class="col-md-6 nopadding animate-box">
                                <div class="desc">
                                    <h3>John Doe</h3>
                                    <span>CEO, Founder</span>
                                    <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
                                    <p>
                                        <ul class="fh5co-social-icons">
                                            <li><a href="#"><i class="icon-twitter-with-circle"></i></a></li>
                                            <li><a href="#"><i class="icon-facebook-with-circle"></i></a></li>
                                            <li><a href="#"><i class="icon-linkedin-with-circle"></i></a></li>
                                            <li><a href="#"><i class="icon-dribbble-with-circle"></i></a></li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        -->

	<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Recent Post</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="fh5co-blog animate-box">
						<a href="#"><img class="img-responsive" src="/images/blog-1.jpg" alt=""></a>
						<div class="blog-text">
							<span class="posted_on">Nov. 15th</span>
							<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
							<h3><a href="#">We've grown from a regional</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<a href="#" class="btn btn-primary">Read More</a>
						</div> 
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="fh5co-blog animate-box">
						<a href="#"><img class="img-responsive" src="images/blog-2.jpg" alt=""></a>
						<div class="blog-text">
							<span class="posted_on">Nov. 15th</span>
							<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
							<h3><a href="#">We've grown from a regional</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<a href="#" class="btn btn-primary">Read More</a>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started" style="background-image:url(images/img_bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Want To Write About Us!</h2>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
					<p><a href="#" class="btn btn-default btn-lg">Contact Us</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo" th:fragment="footer">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h4>Ink's</h4>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
				<div class="col-md-4 col-md-push-1">
					<h4>Links</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Home</a></li>
						<li><a href="#">Practice Areas</a></li>
						<li><a href="#">Won Cases</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">About us</a></li>
					</ul>
				</div>

				<div class="col-md-4 col-md-push-1">
					<h4>Contact Information</h4>
					<ul class="fh5co-footer-links">
						<li>198 West 21th Street, <br> Suite 721 New York NY 10016</li>
						<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
						<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
						<li><a href="http://gettemplates.co">gettemplates.co</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<script th:fragment="dropdown-jquery">
        jQuery(document).ready(function($) {
            $('#dropdown').selectstyle({
                width  : 400,
                theme  : 'light',
                onchange : function(val){}
            });
        });
	</script>

    <script type="text/javascript" th:fragment="multiselect">
        $(document).ready(function() {
            $('#multi-select').multiselect();
        });
    </script>

	<div class="scripts"  th:fragment="scripts">
		<!-- jQuery -->
		<!--<script type="application/javascript" th:src="@{/js/jquery.min.js}"></script>-->
		<!-- jQuery Easing -->
		<script type="application/javascript" th:src="@{/js/jquery.easing.1.3.js}"></script>
		<!-- Bootstrap -->
		<!--<script type="application/javascript" th:src="@{/js/bootstrap.min.js}"></script>-->
		<!-- Waypoints -->
		<script type="application/javascript" th:src="@{/js/jquery.waypoints.min.js}"></script>
		<!-- Flexslider -->
		<script type="application/javascript" th:src="@{/js/jquery.flexslider-min.js}"></script>
		<!-- Magnific Popup -->
		<script type="application/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
		<script type="application/javascript" th:src="@{/js/magnific-popup-options.js}"></script>
		<!-- Main -->
		<script type="application/javascript" th:src="@{/js/main.js}"></script>

		<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js}"></script>

		<script>
            function rowClicked(value) {
                location.href = value;
            }
        </script>

	</div>

	</body>
</html>

