<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="template :: htmlHeader">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" fileContent="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="template :: navigation"></div>

<div class="col-md-8 col-md-offset-2 fh5co-heading">
    <h2>Kreiranje novog dokumenta</h2>
    <br>

    <!--<script th:replace="template :: dropdown-jquery"></script>-->

   <!-- <script>
        function replaceComponents(elem){
            if(elem.value == 64) {
                document.getElementById('img-uploads').style.display = "block";
                document.getElementById('file-upload').style.display = "none";
            } else {
                document.getElementById('img-uploads').style.display = "none";
                document.getElementById('file-upload').style.display = "block";
            }

        }
    </script>-->

    <form class="form-horizontal" action="#" th:action="@{/documents/create}" th:object="${document}" enctype="multipart/form-data" method="post">
        <div class="form-group ">
            <label class="col-sm-2 control-label">Tip dokumenta:</label>
            <div class="col-sm-5">
                <select id="dropdown" class="form-control" th:field="*{documentType}" placeholder="Odaberite tip dokumenta..." required>
                    <option th:each="documentType : ${documentTypeList}"
                            th:value="${{documentType}}"
                            th:text="${documentType.name}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Ime:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" th:field="*{name}" required/>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Opis:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" th:field="*{description}" required/>
            </div>
        </div>
        <div class="form-group" id="file-upload">
            <label class="col-sm-2 control-label">Dokument:</label>
            <div class="col-sm-5">
                <input type="file" name="file" class="form-control-file"  required/>
            </div>
        </div>
        <!--<div class="form-group" id="img-uploads">
            &lt;!&ndash;<label class="col-sm-2 control-label" >Slika:</label>&ndash;&gt;

            <th:block th:each="iter: ${#numbers.sequence(1, 10)}">
                <label class="col-sm-2 control-label" th:text="Slika + ${iter}">Slika:</label>
                <div class="">
                    <input type="file" name="file" class="form-control-file"  required/>
                </div>
            </th:block>
        </div>-->
        <br>
        <div class="form-group">
            <div class="row">
                <button type="submit" class="btn btn-primary">Spremi</button>
                <a th:href="${'/documents/'}" class="btn btn-default">Otkaži</a>
            </div>
        </div>
    </form>
</div>

<div th:replace="template :: footer"></div>
<div th:replace="template :: scripts"></div>

</body>
</html>
