<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="template :: htmlHeader">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" fileContent="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="template :: navigation"></div>

<!--TODO promijeniti id na drupdornu s trazilicom u class, includati script tagove i pobrisati kopirane-->
<!--TODO dodati komentar -->

<div class="col-md-8 col-md-offset-2 fh5co-heading">
    <script th:replace="template :: multiselect"></script>

    <script>
        jQuery(document).ready(function($) {
            $('.dropdown-searchable').selectstyle({
                width  : 400,
                theme  : 'light',
                onchange : function(val){}
            });
        });

        // $('#select_style_text').onclick(function () {
        //     console.log("changeeeees");
        //     if ($('#approvalTypes').val() == 5) {
        //         $('mobilityPoints').hide()
        //     } else {
        //         $('mobilityPoints').show()
        //     }
        // })


    </script>

    <script>
        $(function () {
            $( "#select_style_ul" ).click(function(event) {
                console.log("changeeeees " + $(event.target).text());
                if ($(event.target).text() == "Grant") {
                    $('#mobilityPoints').show()
                } else {
                    $('#mobilityPoints').hide()
                }
            });
        });
    </script>

    <h2>Kreiranje novog odobrenja</h2>
    <br>
    <form class="form-horizontal" action="#" th:action="@{/approvals/createForMobility/} + ${mobility.getId()}" th:object="${approval}" method="post">
        <div class="row details-text" th:if="${mobility.getStudent() != null}"><span><b>Mobilnost: </b></span><span th:text="${mobility.getStudent().getJmbag() + ' - ' + mobility.getStudent().getName() + ' ' + mobility.getStudent().getSurname() + ' - ' + mobility.getInstitution().getCode()}"></span></div>
        <br>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Tip odobrenja:</label>
            <div class="col-sm-5">
                <select class="form-control dropdown-searchable" id="approvalTypes" th:field="*{approvalType}" placeholder="Odaberite tip odobrenja..." required>
                    <option th:each="approvalType : ${approvalTypeList}"
                            th:value="${{approvalType}}"
                            th:text="${approvalType.getName()}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">Dokumenti:</label>
            <div class="col-sm-5">
                <select id="multi-select" th:field="*{documents}" size="10" multiple="multiple" >
                    <option th:each="document : ${documentList}"
                            th:value="${{document}}"
                            th:text="${document.getName() + ' (' + document.getDocumentType().getCode() + ')'}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group" id="mobilityPoints" >
            <label class="col-sm-2 control-label">Broj bodova:</label>
            <div class="col-sm-5">
                <input type="number" id="points" class="form-control" th:value="${mobilityPoints}" name="mobilityPoints" />
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="row">
                <button type="submit" class="btn btn-primary">Spremi</button>
                <a th:href="${'/approvals/'}" class="btn btn-default">Otkaži</a>
            </div>
        </div>
    </form>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>
