<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="template :: htmlHeader">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="template :: navigation"></div>

<div class="container">
    <h2>Detalji studenta</h2>
    <br>
    <div>
        <div class="row details-text"><span><b>Ime: </b></span><span th:text="${student.getName()}"></span></div>
        <div class ="row details-text"><span><b>Prezime: </b></span><span th:text="${student.getSurname()}"></span></div>
        <div class ="row details-text"><span><b>Jmbag: </b></span><span th:text="${student.getJmbag()}"></span></div>
        <div class ="row details-text"><span><b>Email: </b></span><span th:text="${student.getEmail()}"></span></div>
        <div class ="row details-text"><span><b>Datum rođenja: </b></span><span th:text="${#dates.format(student.getBirthday(), 'dd.MM.yyyy.')}"></span></div>
        <div class ="row details-text"><span><b>Broj mobitela: </b></span><span th:text="${student.getPhone()}"></span></div>
        <div class ="row details-text"><span><b>Smjer: </b></span><span th:text="${student.getHomeCourse().getName()}"></span></div>
        <div class ="row details-text"><span><b>Godina studija: </b></span><span th:text="${student.getYearOfStudy()}"></span></div>
        <br>
        <form>
            <td><a th:href="${'/students/edit/' + student.getId()}" class="btn btn-primary">Izmjeni</a></td>
            <td><a th:href="${'/students/delete/' + student.getId()}" class="btn btn-danger" onclick="return confirm('Jeste li sigurni?')">Obriši</a></td>
            <td><a th:href="${'/students/'}" class="btn btn-default">Povratak</a></td>
        </form>
        <br><br>
    </div>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>
